svg {
  font-size: 1em;
}

#shot-chart {
  font-size: 0.1em;
  stroke-width: 0.1;
  fill: none;
  stroke: black;
  margin: auto;
}

#team-shot-chart {
  font-size: 0.1em;
  stroke-width: 0.1;
  fill: none;
  stroke: black;
  margin: auto;
}